# ==========================================
# Configação do Python
# ==========================================
PYTHONPATH=src
# ==========================================
# Configurações da Aplicação
# ==========================================
APP_NAME=machinery-leasing-platform
APP_ENV=development
LOG_LEVEL=INFO
API_PORT=8000

# ==========================================
# MySQL Database
# ==========================================
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=leasing_db
MYSQL_USER=leasing_user
MYSQL_PASSWORD=leasing_pass
MYSQL_ROOT_PASSWORD=root_pass
DATABASE_URL=mysql+pymysql://leasing_user:leasing_pass@localhost:3306/leasing_db

# ==========================================
# Apache Kafka (KRaft)
# ==========================================
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=machinery-leasing-consumer-group
KAFKA_TOPIC_CREATED=transactions.created.v1
KAFKA_TOPIC_RETRY=transactions.retry.v1
KAFKA_TOPIC_DLQ=transactions.dlq.v1
KAFKA_TOPIC_STATUS=transactions.status.v1

# ==========================================
# Redis Cache
# ==========================================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://localhost:6379/0

# ==========================================
# Serviço Externo de Análise de Risco (Mock)
# ==========================================
RISK_SERVICE_URL=http://localhost:8000/mock/risk-analysis
RISK_SERVICE_TIMEOUT_SECONDS=3.0
